{{/*
  ParseMenuEntry
  Structure data for one menu MenuEntry

  @author @regisphilibert

  @context Map (.)
    - String (.menu)
    - Page (.Page)
    - MenuMenuEntry (.MenuEntry)

  @access private

  @returns Map
    String (.Name)
    String (.Url)
    Bool (.External)
    Bool (.Active)
    Page (.Page)
    Int (.Level)
    Slice of maps (.Children)
      - ...self@returns

  @uses
     - tnd-menus/IsActive

*/}}

{{ $s := newScratch }}
{{ $s.Set "data" dict }}

{{ $s.SetInMap "data" "Name" .MenuEntry.Name }}
{{ $s.SetInMap "data" "URL" "" }}
{{ with .MenuEntry.URL }}
  {{ $s.SetInMap "data" "URL" . }}
{{ end }}

{{/* .Level is incremented each time the partial is used recursively */}}
{{ $level := 1 }}
{{ with .level }}
  {{ $level = add $level . }}
{{ end }}
{{ $s.SetInMap "data" "Level" $level }}

{{/* .External: Init a default for the bool */}}
{{ $s.SetInMap "data" "External" true }}

{{/* .Page is found through either the MenuEntry.Page or the MenuEntry.Params.page path */}}
{{ $MenuEntryPage := dict }}
{{ with .MenuEntry.Page }}
  {{ $MenuEntryPage = . }}
{{ end }}

{{/*.Params, while processing them we'll try and find a page matching a potential .Params.page */}}
{{ with .MenuEntry.Params }}
  {{ range $key, $value := . }}
    {{/* Regular params are added at the root of the Data. */}}
    {{ if ne $key "page" }}
      {{ $s.SetInMap "data" $key $value }}
    {{ else }}
      {{/* This means we're on the .Params.page and try and find a Page. */}}
      {{ with site.GetPage . }}
        {{ $s.SetInMap "data" "URL" .RelPermalink }}
        {{ $MenuEntryPage = . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* If we found a .Page, we can add it and set External to false. */}}
{{ with $MenuEntryPage }}
  {{ $s.SetInMap "data" "Page" . }}
  {{ $s.SetInMap "data" "External" false }}
{{ end }}

{{/* .Active is set using the public partial. Users can overwrite to pass their own logic. */}}
{{ $active := partial "tnd-menus/IsActive" (dict "menu" $.menu "MenuEntry" $.MenuEntry "entry" ($s.Get "data") "Page" $.Page) }}
{{ $s.SetInMap "data" "Active" $active }}

{{/* .Children if found are recursively processed using this very same partial */}}
{{ with .MenuEntry.Children }}
  {{ $children := slice }}
  {{ range . }}
    {{ $children = $children | append (partial "tnd-menus/private/ParseMenuEntry" (dict "menu" $.menu "MenuEntry" . "Page" $.Page "level" $level)) }}
  {{ end }}
  {{ $s.SetInMap "data" "Children" $children }}
{{ end }}

{{/* Return */}}
{{ return $s.Get "data" }}